In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
from scipy.stats import skew, kurtosis
import statsmodels.graphics.tsaplots as tsa_plots
# from sklearn.metrics import mean_squared_error
# from math import sqrt
from matplotlib import pyplot
import matplotlib.pyplot as plt
from statsmodels.tsa.seasonal import seasonal_decompose

In [3]:
data = pd.read_csv(r'C:\Users\Chaitali\Desktop\MapUp-Data-Assessment-F-main\datasets\dataset-1.csv')

In [4]:
data

     id_1  id_2  route   moto    car     rv   bus  truck
0     829   827      1   2.05   4.14   4.14  10.1   15.2
1     829   821      4   6.63  13.26  13.26  32.4   48.5
2     829   804      7  14.41  28.92  28.92  64.7   97.0
3     829   822      6   5.90  11.81  11.81  28.8   43.2
4     829   826      9   2.87   5.81   5.81  14.2   21.2
..    ...   ...    ...    ...    ...    ...   ...    ...
336   803   802      3   1.70   3.40   3.40   6.9   10.3
337   803   805      4   3.00   6.00   6.00  12.0   17.9
338   803   825      3  11.59  23.28  23.28  50.1   75.2
339   803   806      9   3.80   7.70   7.70  15.3   23.0
340   803   830      1  16.18  32.47  32.47  72.6  108.8

[341 rows x 8 columns]

In [8]:
df=pd.DataFrame(data)
print(df)

     id_1  id_2  route   moto    car     rv   bus  truck
0     829   827      1   2.05   4.14   4.14  10.1   15.2
1     829   821      4   6.63  13.26  13.26  32.4   48.5
2     829   804      7  14.41  28.92  28.92  64.7   97.0
3     829   822      6   5.90  11.81  11.81  28.8   43.2
4     829   826      9   2.87   5.81   5.81  14.2   21.2
..    ...   ...    ...    ...    ...    ...   ...    ...
336   803   802      3   1.70   3.40   3.40   6.9   10.3
337   803   805      4   3.00   6.00   6.00  12.0   17.9
338   803   825      3  11.59  23.28  23.28  50.1   75.2
339   803   806      9   3.80   7.70   7.70  15.3   23.0
340   803   830      1  16.18  32.47  32.47  72.6  108.8

[341 rows x 8 columns]

In [5]:
data1={"id_2":[827,821,804,822,826,802]}
#df=pd.DataFrame(data)
#newdf = df.drop("id_2")
print(data1)
print(data)

{'id_2': [827, 821, 804, 822, 826, 802]}
     id_1  id_2  route   moto    car     rv   bus  truck
0     829   827      1   2.05   4.14   4.14  10.1   15.2
1     829   821      4   6.63  13.26  13.26  32.4   48.5
2     829   804      7  14.41  28.92  28.92  64.7   97.0
3     829   822      6   5.90  11.81  11.81  28.8   43.2
4     829   826      9   2.87   5.81   5.81  14.2   21.2
..    ...   ...    ...    ...    ...    ...   ...    ...
336   803   802      3   1.70   3.40   3.40   6.9   10.3
337   803   805      4   3.00   6.00   6.00  12.0   17.9
338   803   825      3  11.59  23.28  23.28  50.1   75.2
339   803   806      9   3.80   7.70   7.70  15.3   23.0
340   803   830      1  16.18  32.47  32.47  72.6  108.8

[341 rows x 8 columns]

In [9]:
print(df.loc[0])

id_1     829.00
id_2     827.00
route      1.00
moto       2.05
car        4.14
rv         4.14
bus       10.10
truck     15.20
Name: 0, dtype: float64

In [10]:
df=pd.DataFrame(data)
print(df.corr())

           id_1      id_2     route      moto       car        rv       bus  \
id_1   1.000000 -0.058963  0.049904 -0.079662 -0.080127 -0.082100 -0.032211
id_2  -0.058963  1.000000 -0.003877 -0.081567 -0.078912 -0.078264 -0.033788
route  0.049904 -0.003877  1.000000  0.004654  0.007766  0.002111  0.008427
moto  -0.079662 -0.081567  0.004654  1.000000  0.998900  0.998610  0.995177
car   -0.080127 -0.078912  0.007766  0.998900  1.000000  0.998093  0.993629
rv    -0.082100 -0.078264  0.002111  0.998610  0.998093  1.000000  0.993317
bus   -0.032211 -0.033788  0.008427  0.995177  0.993629  0.993317  1.000000
truck -0.036984 -0.039238  0.006703  0.990787  0.987542  0.987228  0.996656

          truck
id_1  -0.036984
id_2  -0.039238
route  0.006703
moto   0.990787
car    0.987542
rv     0.987228
bus    0.996656
truck  1.000000

In [11]:
df=pd.DataFrame(data)
print(df.cummax())

     id_1  id_2  route   moto    car     rv   bus  truck
0     829   827      1   2.05   4.14   4.14  10.1   15.2
1     829   827      4   6.63  13.26  13.26  32.4   48.5
2     829   827      7  14.41  28.92  28.92  64.7   97.0
3     829   827      7  14.41  28.92  28.92  64.7   97.0
4     829   827      9  14.41  28.92  28.92  64.7   97.0
..    ...   ...    ...    ...    ...    ...   ...    ...
336   831   831     10  19.67  39.24  39.24  86.5  129.8
337   831   831     10  19.67  39.24  39.24  86.5  129.8
338   831   831     10  19.67  39.24  39.24  86.5  129.8
339   831   831     10  19.67  39.24  39.24  86.5  129.8
340   831   831     10  19.67  39.24  39.24  86.5  129.8

[341 rows x 8 columns]

In [12]:
df=pd.DataFrame(data)
print(df.describe())

             id_1        id_2       route        moto         car          rv  \
count  341.000000  341.000000  341.000000  341.000000  341.000000  341.000000
mean   815.906158  815.920821    5.334311    7.214106   14.411730   14.412229
std     10.801824   10.817587    2.873760    4.684622    9.382008    9.322661
min    801.000000  801.000000    1.000000    0.740000    1.390000    1.390000
25%    805.000000  805.000000    3.000000    3.280000    6.550000    6.550000
50%    821.000000  821.000000    5.000000    6.450000   12.380000   12.870000
75%    826.000000  826.000000    8.000000   10.500000   20.920000   20.920000
max    831.000000  831.000000   10.000000   19.670000   39.240000   39.240000

              bus       truck
count  341.000000  341.000000
mean    31.932845   47.841789
std     20.532486   30.926161
min      3.300000    4.350000
25%     15.100000   22.600000
50%     28.400000   42.400000
75%     45.800000   68.700000
max     86.500000  129.800000

In [15]:
df=pd.DataFrame(data)
print(df.count())

id_1     341
id_2     341
route    341
moto     341
car      341
rv       341
bus      341
truck    341
dtype: int64

In [18]:
df=pd.DataFrame(data)
print(df.index)

RangeIndex(start=0, stop=341, step=1)

In [19]:
df=pd.DataFrame(data)
print(df.values)

[[829.   827.     1.   ...   4.14  10.1   15.2 ]
 [829.   821.     4.   ...  13.26  32.4   48.5 ]
 [829.   804.     7.   ...  28.92  64.7   97.  ]
 ...
 [803.   825.     3.   ...  23.28  50.1   75.2 ]
 [803.   806.     9.   ...   7.7   15.3   23.  ]
 [803.   830.     1.   ...  32.47  72.6  108.8 ]]